{% extends "example.html" %}

{% block lab %} Корзина {% endblock %}

{% block main %}
<style>
    table {
        margin-top: 35px;
        border-collapse: collapse;
        width: 30%;
        color: rgb(123, 18, 91);
        font-weight: bolder;
        font-size: larger;
    }

    td {
        padding: 10px;
        border: 1px solid rgb(170, 44, 132);
    }
    .but {
        font-size: 18px;
        font-weight: 600;
        color: rgb(94, 14, 80);
        background-color: rgb(234, 71, 212);
        border: solid 1px;
        border-radius: 5px;
        padding: 10px;
    }
    .but:hover {
    cursor: pointer;
}
</style>

<br><div class="href"><a href="/">Главная страница</a></div>
<h1 class="h1">Создать накладную</h1>
<div class="go_to"><a href="/products">К списку товаров</a></div>
<table>
    <tr>
        <th>Артикул</th>
        <th>Название</th>
        <th>Количество</th>
    </tr>
    {% set show_button = products|length > 0 %}
    {% for product, quantity, is_draft in products %}
        <tr>
            <td>{{ product.product.code }}</td>
            <td>{{ product.product.name }}</td>
            <td>{{ quantity }}</td>
        </tr>
    {% endfor %}
</table><br><br>

{% if show_button %}
    <form method="post" action="{{ url_for('base.create_order') }}">
        <input type="hidden" name="create_order" value="true">
        <button type="submit" class="but">Создать заказ</button>
    </form>
{% else %}
    <p style="position: absolute; margin-left: 160px; color: rgb(107, 12, 78); font-size: 18px;">Список товаров пока пуст</p>
{% endif %}

{% endblock %}