<!DOCTYPE html>
<html>
<head>
    <title>Создать объявление</title>
</head>
<body>
    <h1>Создать объявление</h1>
    <form method="POST" action="/create">
        <label for="title">Тема:</label>
        <input type="text" id="title" name="title" required><br><br>
        <label for="text">Основной текст:</label>
        <textarea id="text" name="text" required></textarea><br><br>
        <label for="author">Имя автора:</label>
        <input type="text" id="author" name="author" required><br><br>
        <input type="submit" value="Создать">
    </form>
</body>
</html>